.footer-banner{
    background-image: url(../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
}
.footer-banner p{
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
}
.email-box{
    width: 350px;
}
.footer-nav li{
    line-height: 24px;
}
@media(max-width:768px){
    .email-box{
        width: 100%;
    }
}
//*favorite-card*//
.favorite-image{
    height: 350px;
  } 
  .expo-4{
    background-image: url(../images/favorite1.jpg);
  }
  .expo-5{
    background-image: url(../images/favorite2.jpg);
  }
  .expo-6{
    background-image: url(../images/favorite3.jpg);
  }