.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.done{
    background: $main1;
}
.undo{
    background: $white;
    border: 1px solid $main1;
}
.step-line{
    border-bottom: 1px solid $main1;
    opacity: 1;
    margin-bottom: 0;
    top: 4px;
}
.step-group li{
    width: 25%;
}

@media(min-width:480px){
    .step-content br{
        display: none;
    }
}

.content{
    z-index: 101;
}
.order-image{
    width: 48%;
    height: 84px;
}
.order-expo-info{
    width: 48%;
}
.next-btn, .btn-back{
    width: 100%;
}
.orderer h4{
    font-size: 20px;
    line-height: 30px;
}
.orderer label{
    display: block;
}
.orderer input{
    display: block;
    width: 100%;
    padding: 7px 12px;
    border:1px solid#CED4DA;
    border-radius: 4px;
}
.price-describe, .orderer-info, .expo-id-message{
    width: 100%;
}
@media(min-width:768px){
    .list-1 .order-image{
        width: 120px;
        min-height: 128px;
    }
    .list-2 .order-image, .list-3 .order-image{
        width: 160px;
        min-height: 84px;
    }
    .order-expo-info{
        width: auto;
    }
    .order-btn-group{
        width: 100%;
        height: calc( 100vh - 110px );
        position: absolute;
        top: 0;
    }
    .orderer{
        height: calc( 100vh - 280px );
    }
}
@media(min-width:992px){
    .list-1 .order-image{
        width: 160px;
        min-height: 84px;
    }
    .list-2 .order-image, .list-3 .order-image{
        width: 125px;
        min-height: 84px;
    }
}
@media(min-width:1200px){
    .list-2 .order-image, .list-3 .order-image{
        width: 160px;
        min-height: 84px;
    }
    
}